form {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    .form-header {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;

        img {
            width: 15rem;
            margin: auto;
            margin-bottom: 2rem;
        }

        span {
            font-size: 1.8rem;
            color: #313131;
        }

        .small {
            color: #777777;
            font-size: 1rem;
            margin-bottom: 0.5rem;
        }
    }

    label {
        color: #313131;
    }

    input {
        height: 3.5rem;
        width: 100%;
        border: none;
        border-bottom: 1px solid #A3A3A3;
        outline: none;
        font-size: 1rem;
        margin-top: 0.2rem;
        color: #464646;
    }

    button {
        font-size: 1.2rem;
        height: 3.5rem;
        background-color: #6746CC;
        color: #FFFFFF;
        border: none;

        &:hover {
            opacity: 0.8;
            cursor: pointer;
        }
    }
}

.signin {
    color: #6746CC;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;

    &:hover {
        opacity: 0.8;
    }
}